<!-- footer start -->

<footer class="site-footer">
  <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Subscribe!</span></a>
    <div class="inner">
         <section class="copyright">Copyright <a href="mailto:{{ site.email}}">{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.</section>
         <section class="poweredby">Photo by the great <a href="https://unsplash.com/@samferrara">Sam Ferrara</a> on Unsplash</section>
    </div>
</footer>

<!-- footer end -->
